<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <div class="px-4 py-3 font-bold bg-gray-50 text-gray-500 text-sm">{{table_schema}}.{{table_name}}</div>
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Column Name
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Data Type
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Default
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Nullable?
              </th>
             <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Primary Key?
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Foreign Key?
              </th>
             <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Unique?
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                Description
              </th>
              <th scope="col" class="relative px-6 py-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">
          {{#table_row}}
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-xs font-medium text-gray-900">
                {{column_name}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                {{data_type}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                {{column_default}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                {{is_nullable}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                {{is_primary_key}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                {{is_foreign_key}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                {{is_unique}}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-xs text-gray-500">
                {{description}}
              </td>            
            </tr>
          {{/table_row}}

            <!-- More rows... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
